.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 90vw;
}
.firstLine .bestTitle {
  text-decoration: none;
  color: #4f256b;
}
.firstLine div {
  align-content: center;
}
.firstLine div .langIcon {
  width: 22px;
  height: 22px;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
}
.firstLine div h2 {
  font-size: 1rem;
  display: inline;
  color: black;
}
.firstLine div h2 a {
  text-decoration: underline;
  color: black;
}

.nuevoMenu, .futer {
  width: 80%;
  background-color: blueviolet;
  background: linear-gradient(to right, #f5eaff 0%, #bd92d3 47%, #4f256b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: aliceblue;
  height: 40px;
  align-content: center;
}
.nuevoMenu .contMenu, .futer .contMenu {
  padding: 0;
  margin: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nuevoMenu .contMenu .itemMenu, .futer .contMenu .itemMenu {
  padding: 5px;
}
.nuevoMenu .contMenu .itemMenu:hover, .futer .contMenu .itemMenu:hover {
  background-color: white;
  border-radius: 20px;
}
.nuevoMenu .contMenu .itemMenu:hover a, .futer .contMenu .itemMenu:hover a {
  color: #4f256b;
}
.nuevoMenu .contMenu .itemMenu a, .futer .contMenu .itemMenu a {
  text-decoration: none;
  color: #f5eaff;
  font-weight: bold;
}

.wholeFoot {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.linksFooter, .footLogos {
  display: flex;
}
.linksFooter ul, .footLogos ul {
  list-style: none;
}
.linksFooter ul .linkFut, .footLogos ul .linkFut {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footLogos .iconList {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footLogos .iconList .socialIcon {
  width: 25px;
  margin: 0 10px 0 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../multimedia/background.jpg);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}
main .caroMain {
  width: 70vw;
}

h1 {
  margin: 0;
  padding: 5px;
  color: #4f256b;
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  margin: 0;
}

.azMainCenter hr {
  margin: 10px;
}
.azMainCenter .azMain {
  width: 800px;
}
.azMainCenter .azMain .azMenu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.azMainCenter .azMain .azMenu .azTextMenu {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.azMainCenter .azMain .azMenu .azTextMenu h2 {
  margin: 10px;
  font-size: 1.2rem;
}
.azMainCenter .azMain .azContAlphab .azIndex {
  list-style: none;
}
.azMainCenter .azMain .azContAlphab .azIndex hr {
  margin-top: 0;
}
.azMainCenter .azMain .azContAlphab .azIndex h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.faqMainCenter .faqMain {
  width: 800px;
}
.faqMainCenter .faqMain .faqTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.faqMainCenter .faqMain .faqContent {
  border: #bd92d3 3px solid;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.faqMainCenter .faqMain .faqContent td {
  padding: 0 10px 0;
}
.faqMainCenter .faqMain .formularioContacto {
  margin-top: 50px;
}
.faqMainCenter .faqMain .formularioContacto .submitButton {
  margin: 5px;
}

.charaOption, .rMainCenter .rankOption {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}
.charaOption ul, .rMainCenter .rankOption ul {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.charaOption ul h2, .rMainCenter .rankOption ul h2 {
  margin: 10px;
  font-size: 1.2rem;
}

.chMainCenter .charaMainPic {
  grid-area: charaMainPic;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}
.chMainCenter .charaMainInfo {
  grid-area: charaMainInfo;
  width: 400px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
}

.rMainCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
}
.rMainCenter .rankOption ul {
  padding: 0;
  margin: 5px;
  display: flex;
  justify-content: space-around;
}
.rMainCenter .rankOption ul li {
  margin: 0 10px 0 10px;
}
.rMainCenter .rankOption ul li .selected {
  background-color: #f5eaff;
  border-radius: 40%;
}
.rMainCenter .rankOption ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #4f256b;
}
.rMainCenter .rankOption ul li a:hover {
  font-weight: bold;
}
.rMainCenter .rankMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rMainCenter .rankMain .numberOne {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: center;
}
.rMainCenter .rankMain .numberOne .numberOnePic {
  width: 50%;
  align-content: center;
  overflow: hidden;
}
.rMainCenter .rankMain .numberOne .numberOnePic img {
  border: #4f256b solid 5px;
  width: 100%;
}
.rMainCenter .rankMain .numberOne .numberOneInfo {
  background-color: #f5eaff;
  border-radius: 10%;
  width: 50%;
  overflow: auto;
  padding: 20px;
}
.rMainCenter .rankMain .rankingOther {
  margin-top: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.rMainCenter .rankMain .rankingOther .secondPlace {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.rMainCenter .rankMain .rankingOther .secondPlace .secondPic {
  align-content: center;
  width: 50%;
  overflow: hidden;
  border: #4f256b solid 5px;
}
.rMainCenter .rankMain .rankingOther .secondPlace .secondPic img {
  width: 100%;
}
.rMainCenter .rankMain .rankingOther .secondPlace .secondInfo {
  background-color: #f5eaff;
  border-radius: 10%;
  width: 50%;
  overflow: auto;
  padding: 20px;
}
.rMainCenter .rankMain .rankingOther .thirdPlace {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.rMainCenter .rankMain .rankingOther .thirdPlace .thirdPic {
  align-content: center;
  width: 50%;
  overflow: hidden;
  border: #4f256b solid 5px;
}
.rMainCenter .rankMain .rankingOther .thirdPlace .thirdPic img {
  width: 100%;
}
.rMainCenter .rankMain .rankingOther .thirdPlace .thirdInfo {
  background-color: #f5eaff;
  border-radius: 10%;
  width: 50%;
  overflow: auto;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .firstLine {
    display: none;
  }
  .nuevoMenu, .futer {
    width: 100vw;
  }
  .containerRank {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas: "pjRank pjRank" "pjRank pjRank" "aniRank aniRank" "seiRank seiRank";
  }
  .containerRank .pjRank {
    grid-area: pjRank;
  }
  .containerRank .pjRank .rankChara {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .containerRank .pjRank .rankChara .firstPic {
    width: 25vw;
    margin: 10px;
  }
  .containerRank .pjRank .rankChara .secondPic {
    width: 22vw;
    margin: 10px;
  }
  .containerRank .pjRank .rankChara .thirdPic {
    width: 19vw;
    margin: 10px;
  }
  .containerRank .aniRank {
    grid-area: aniRank;
  }
  .containerRank .seiRank {
    grid-area: seiRank;
  }
  .wholeFoot {
    display: flex;
    justify-content: center;
  }
  .wholeFoot .futer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .wholeFoot .futer .linksFooter, .wholeFoot .futer .footLogos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .wholeFoot .futer .linksFooter ul, .wholeFoot .futer .footLogos ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .wholeFoot .futer .linksFooter ul li, .wholeFoot .futer .footLogos ul li {
    display: flex;
    justify-content: center;
  }
  .wholeFoot .futer .footLogos ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .charaMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "charaMainPic" "charaMainInfo";
  }
  .charaMain .gallery {
    margin-top: 50px;
    padding: 30px;
    width: 300px;
  }
}
@media screen and (min-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .weeklyRank {
    width: 80vw;
    display: flex;
    justify-content: center;
  }
  main .weeklyRank .rankChara {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .weeklyRank .rankChara div {
    padding: 10px;
  }
  main .weeklyRank .rankChara div .firstPic {
    width: 25vw;
    margin: 10px;
  }
  main .weeklyRank .rankChara div .secondPic {
    width: 20vw;
    margin: 10px;
  }
  main .weeklyRank .rankChara div .thirdPic {
    width: 19vw;
    margin: 10px;
  }
  .container {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas: "pjRank aniRank" "pjRank aniRank" "pjRank seiRank" "pjRank seiRank";
  }
  .container .pjRank {
    grid-area: pjRank;
  }
  .container .pjRank .firstPPic {
    height: 200px;
    display: flex;
    border: 5px #dfaee1 solid;
  }
  .container .aniRank {
    grid-area: aniRank;
  }
  .container .seiRank {
    grid-area: seiRank;
  }
}
.futer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.futer .linksFooter ul, .futer .footLogos ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0;
  align-content: center;
  margin: 0;
}
.futer .linksFooter ul li, .futer .footLogos ul li {
  display: flex;
  align-content: center;
}
.charaMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "charaMainPic charaMainInfo" "charaMainPic charaMainInfo";
}
.charaMain .charaMainPic {
  grid-area: charaMainPic;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}
.charaMain .charaMainInfo {
  grid-area: charaMainInfo;
  width: 400px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
}
.charaMain .gallery {
  margin-top: 50px;
  padding: 30px;
  width: 600px;
}

/*# sourceMappingURL=style.css.map */
