* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../multimedia/background.jpg);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.firstLine .bestoHTitle {
  height: 22px;
  font-size: 1rem;
  margin-right: 0cm;
  text-align: start left;
}
.firstLine div .langIcon {
  width: 22px;
  height: 22px;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
}
.firstLine div .ingreso {
  margin-left: 0;
  margin-right: 0;
  font-size: 1rem;
  display: inline;
  text-decoration: underline;
}

.navBar, .wholeFoot .futer, .menuBar .menu {
  width: 80%;
  background-color: blueviolet;
  background: linear-gradient(to right, #f5eaff 0%, #bd92d3 47%, #4f256b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: aliceblue;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.mainCenter, .rMainCenter, .chMainCenter, .faqMainCenter, .azMainCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: max-content;
}

.menuBar {
  display: flex;
  justify-content: center;
  height: max-content;
}
.menuBar .menu li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.menuBar .menu li .menuB {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.wholeFoot {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.wholeFoot .futer div .footLogos {
  display: flex;
}
.wholeFoot .futer div .footLogos .iconList {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.wholeFoot .futer div .footLogos .iconList .socialIcon {
  width: 25px;
  margin: 0 10px 0 10px;
}

.azMainCenter hr {
  margin: 10px;
}
.azMainCenter .azMain {
  width: 800px;
}
.azMainCenter .azMain .azMenu {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.azMainCenter .azMain .azMenu .azTextMenu {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.azMainCenter .azMain .azMenu .azTextMenu h2 {
  margin: 10px;
  font-size: 1.2rem;
}
.azMainCenter .azMain .azContAlphab .azIndex {
  list-style: none;
}
.azMainCenter .azMain .azContAlphab .azIndex hr {
  margin-top: 0;
}
.azMainCenter .azMain .azContAlphab .azIndex h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.faqMainCenter .faqMain {
  width: 800px;
}
.faqMainCenter .faqMain .faqTitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.faqMainCenter .faqMain .faqContent {
  border: #bd92d3 3px solid;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.faqMainCenter .faqMain .faqContent td {
  padding: 0 10px 0;
}
.faqMainCenter .faqMain .formularioContacto {
  margin-top: 50px;
}
.faqMainCenter .faqMain .formularioContacto .submitButton {
  margin: 5px;
}

.charaOption, .rMainCenter .rankOption {
  display: flex;
  justify-content: center;
  margin: 0 20px 0 20px;
}
.charaOption ul, .rMainCenter .rankOption ul {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
.charaOption ul h2, .rMainCenter .rankOption ul h2 {
  margin: 10px;
  font-size: 1.2rem;
}

.chMainCenter .charaMainPic {
  grid-area: charaMainPic;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}
.chMainCenter .charaMainInfo {
  grid-area: charaMainInfo;
  width: 400px;
  height: 400px;
  overflow: scroll;
  padding: 10px;
}

.rMainCenter .rankOption li {
  margin: 0 10px 0 10px;
}
.rMainCenter .numberOne {
  background-color: #f5eaff;
  display: flex;
  flex-direction: row;
}
.rMainCenter .numberOne .numberOnePic {
  background-color: #f5eaff;
}
.rMainCenter .numberOne .numberOneInfo {
  overflow: scroll;
  padding: 10px;
}
.rMainCenter .numberOne .numberOneInfo h3 {
  font-size: 1rem;
}
.rMainCenter .rankingOther {
  margin-top: 20px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.rMainCenter .rankingOther .secondPlace {
  background-color: #f5eaff;
  display: flex;
  flex-direction: row;
}
.rMainCenter .rankingOther .secondPlace .secondInfo {
  overflow: scroll;
}
.rMainCenter .rankingOther .thirdPlace {
  background-color: #f5eaff;
  display: flex;
  flex-direction: row;
}
.rMainCenter .rankingOther .thirdPlace .thirdInfo {
  overflow: scroll;
}

@media screen and (max-width: 480px) {
  .firstLine {
    margin: 0;
  }
  .menuBar {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas: "pjRank pjRank" "pjRank pjRank" "aniRank aniRank" "seiRank seiRank";
  }
  .container .pjRank {
    grid-area: pjRank;
  }
  .container .pjRank .firstPPic {
    height: 200px;
    display: flex;
    border: 5px #dfaee1 solid;
  }
  .container .aniRank {
    grid-area: aniRank;
  }
  .container .seiRank {
    grid-area: seiRank;
  }
  main {
    width: 400px;
  }
  main hr {
    justify-content: center;
  }
  .charaMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "charaMainPic" "charaMainInfo";
  }
  .charaMain .gallery {
    margin-top: 50px;
    padding: 30px;
    width: 300px;
  }
  .rMainCenter .numberOne {
    width: 300px;
    height: 300px;
  }
  .rMainCenter .numberOne .numberOnePic {
    width: 200px;
  }
  .rMainCenter .numberOne .numberOneInfo {
    width: 100px;
  }
  .rMainCenter .rankingOther .secondPlace {
    width: 200px;
  }
  .rMainCenter .rankingOther .secondPlace .secondInfo {
    width: 70px;
  }
  .rMainCenter .rankingOther .thirdPlace {
    width: 150px;
  }
  .rMainCenter .rankingOther .thirdPlace .thirdInfo {
    width: 70px;
  }
}
@media screen and (min-width: 480px) {
  main .weekRank {
    display: flex;
    justify-content: center;
  }
  main .weekRank .weeklyRank {
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  main .container {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 10px;
    grid-template-areas: "pjRank aniRank" "pjRank aniRank" "pjRank seiRank" "pjRank seiRank";
  }
  main .container .pjRank {
    grid-area: pjRank;
  }
  main .container .pjRank .firstPPic {
    height: 200px;
    display: flex;
    border: 5px #dfaee1 solid;
  }
  main .container .aniRank {
    grid-area: aniRank;
  }
  main .container .seiRank {
    grid-area: seiRank;
  }
  .charaMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "charaMainPic charaMainInfo" "charaMainPic charaMainInfo";
  }
  .charaMain .charaMainPic {
    grid-area: charaMainPic;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
  }
  .charaMain .charaMainInfo {
    grid-area: charaMainInfo;
    width: 400px;
    height: 400px;
    overflow: scroll;
    padding: 10px;
  }
  .charaMain .gallery {
    margin-top: 50px;
    padding: 30px;
    width: 600px;
  }
  .rMainCenter .numberOne {
    width: 700px;
    height: 350px;
  }
  .rMainCenter .numberOne .numberOnePic {
    width: 500px;
  }
  .rMainCenter .numberOne .numberOneInfo {
    width: 300px;
  }
  .rMainCenter .rankingOther {
    margin-top: 20px;
    height: 300px;
  }
  .rMainCenter .rankingOther .secondPlace {
    width: 400px;
  }
  .rMainCenter .rankingOther .secondPlace .secondInfo {
    width: 100px;
  }
  .rMainCenter .rankingOther .thirdPlace {
    width: 300px;
  }
  .rMainCenter .rankingOther .thirdPlace .thirdInfo {
    width: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
