@import"head-foot";
@import"ranking";
@import"mediaq";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../multimedia/background.jpg);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    .caroMain{
        width: 70vw;
    }
}
h1{
    margin: 0;
    padding: 5px;
    color: $oscuro;
    font-size: 1.2rem;
    font-weight: bold;
}
h3{
    margin: 0;
}    

.azMainCenter{
    hr{
        margin: 10px;
    }
    .azMain{
        width: 800px;
        .azMenu {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            .azTextMenu {
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                flex-direction: row;
                list-style: none;
                h2{
                    margin: 10px;
                    font-size: 1.2rem;
                }
            }
        }
        .azContAlphab{
             .azIndex{
                list-style: none;
                hr{
                    margin-top: 0;
                }
                h2{
                    font-size: 1.3rem;
                    margin-bottom: 0;
                }
            }
        }  
    }
}
.faqMainCenter{

    .faqMain{
        width: 800px;
        .faqTitle{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .faqContent{
            border: #bd92d3 3px solid;
            padding: 10px;
            display: flex;
            justify-content: center;
            td{
                padding: 0 10px 0;
            }
        }
        .formularioContacto{
            margin-top: 50px;
            .submitButton {
                margin: 5px;
             }
        }
    }
}

.charaOption {
    display: flex ;
    justify-content: space-around;
    width: 80vw;
    ul{
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        h2{
            margin: 10px;
            font-size: 1.2rem;
        }
    }
}

.chMainCenter{

    .charaMainPic {
        grid-area: charaMainPic;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .charaMainInfo {
        grid-area: charaMainInfo ;
        width: 400px;
        height: 400px;
        overflow: scroll;
        padding: 10px;
        
    }
}